.button {
	display: flex;
	padding: 12px 20px;
	justify-content: center;
	align-items: center;

	border-radius: 16px;
	border: none;
	background: transparent;
	line-height: 24px;
	border: 2px solid var(--color-white-secondary-bg);

	z-index: 1;
	font-size: 20px;
	font-weight: 400;
	outline: none;
	width: fit-content;
	position: relative;

	cursor: pointer;
	overflow: hidden;
	color: var(--color-white-secondary);
	font-family: var(--font-family);
}

.button.primary {
	background: var(--color-white-secondary-bg);
}

.button:disabled {
	opacity: 0.4;
	pointer-events: none;
}
