.root {
	padding: 0 20px;
	box-sizing: border-box;
	width: 100%;
}

.main_button {
	width: 100%;
	font-size: 18px;
	padding: 10 px;
}

.modal_content {
	width: 80dvw;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.modal_title {
	font-size: 22px;
}

.buttons_row {
	display: flex;
	align-items: center;
	gap: 20px;
}

.buttons_row .button {
	font-size: 16px;
	flex: 1;
	padding: 8px;
}
