.root {
	width: min(100vw, 500px);
	height: 100dvh;
	margin: auto;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 0px;
	overflow: hidden;
}

.image_wrapper {
	flex: 1;
	overflow: hidden;
	background: url('/gifs/g2.gif') no-repeat;
	background-size: 100%;
	background-position: center;
	opacity: 0.05;
	filter: blur(1px);
}
