.root {
	display: flex;
	gap: 10px;
	width: 100%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: var(--color-white-secondary);
	background: #00000029;
	line-height: 1;
	flex-wrap: wrap;
	align-items: center;
}

.title {
	font-size: 22px;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
}

.root .timer {
	font-size: 30px;
	font-weight: 500;
	gap: 0.5ch;
	margin-left: auto;
}
