.root {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 20px;
	width: calc(100% - 40px);
	border-radius: 20px;
	padding: 20px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.2);
	border: none;
	color: var(--color-white-secondary);
	font-size: 14px;
}

.title {
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
}
.settings_item {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.settings_item_title {
	text-align: left;
	font-weight: 300;
}

.settings_item_value {
	white-space: nowrap;
	font-weight: 500;
}

.icon {
	height: 18px;
	width: auto;
}
.icon path {
	stroke: var(--color-white-secondary);
}

.root .toggle {
	--track-height: 20px;
	--track-width: 36px;
	--thumb-height: var(--track-height);
	--thumb-width: var(--track-height);
}

.toggle_item.toggle_item__off {
	padding-bottom: 10px;
}
