.root {
	--color-right: var(--color-black-bg);
	--color-left: var(--color-white-secondary);
	--border-radius: 10px;

	width: 100%;
	height: 200px;
	box-sizing: border-box;
	padding: 10px;

	border-radius: var(--border-radius);
	border: 2px solid var(--color-left);
	background: -webkit-linear-gradient(
		var(--angle),
		var(--color-left) 50%,
		var(--color-right) 50.3%
	);

	transition: all 0.1s;
	position: relative;
	overflow: hidden;
	display: flex;
}

.content {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
}

.content.content_left {
	color: var(--color-left);
	text-shadow: 2px 2px 5px var(--color-right);
}

.content.content_right {
	color: var(--color-right);
	text-shadow: 3px 2px 3px var(--color-left);
}
