.root {
	height: calc(100dvh - 70px);
	display: flex;
	flex-direction: column;
	gap: 0;
}
.settings {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: scroll;
	padding-bottom: 20px;
}

.settings::-webkit-scrollbar {
	display: none;
}

.version {
	position: absolute;
	bottom: 80px;
	left: 20px;
	opacity: 0.2;
	font-size: 12px;
}

.button_reload {
	margin: auto 20px 10px auto;
}
